<div class="contact-wrap">
  <div class="contact">
    <h1>contact me</h1>
    <p>Let's get in touch and discuss future ground-breaking projects!</p>
    <div class="contact-icons">
      <a href="" target="_blank"><i class="bi bi-behance behance"></i></a>
      <a href="https://github.com/IrfanParic" target="_blank"><i class="bi bi-github git"></i></a>
      <a href="https://www.linkedin.com/in/irfan-paric-b96b6a160/" target="_blank"><i class="bi bi-linkedin link"></i></a>
    </div>
    <p>... or send me an email at <span id="contactspan" style="color: #5cb7ff;">irfanparic@hotmail.com</span></p>
  </div>
</div>
