p, a{
  margin-bottom: 0;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Bebas Neue', cursive;
  margin-bottom: 0;
}

a{
  text-decoration: none;
  color: whitesmoke;
}

i{
  font-size: 30px;
  transition: .2s ease-in;
}

.contact-wrap{
  display: flex;
  justify-content: center;
  padding: 200px 0 300px;
}

.contact{
  width: 60%;
}

.contact-icons{
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.contact-icons i{
  font-size: 40px;
}

.git:hover{
  color: mediumpurple;
}

.link:hover{
  color: #0072b1;
}

.behance:hover{
  color: #1769ff;
}

@media (min-width: 1900px) {
  .contact{
    width: 60%;
  }
}

@media (min-width: 1280px){
  .contact{
    width: 80%;
  }
}

@media (max-width: 1200px) {
  .contact{
    width: 80%;
  }
}

@media (max-width: 995px){
  .contact{
    width: 90%;
  }
}

@media (max-width: 800px){
  .contact{
    width: 90%;
  }
}
