 p, a{
  margin-bottom: 0;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Bebas Neue', cursive;
  margin-bottom: 0;
}

a{
  text-decoration: none;
  color: whitesmoke;
}

i{
  font-size: 30px;
  transition: .2s ease-in;
}

.projects-wrap{
  background:linear-gradient(#151618,transparent,#151618), url("src/assets/bgblue2.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  padding: 200px 0;
}

.projects{
  width: 80%;
}

.projects-card{
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: rgba(21, 22, 24, 0.6);
  backdrop-filter: saturate(180%) blur(20px);
  display: flex;
  justify-content: space-between;
}

.projects-img{
  width: 40%;
  height: auto;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

 .projects-img-1{
   background: url("../../../assets/dokumenta_project.png");
   background-size: contain;
   background-position: center;
 }

 .projects-img-2{
   background: url("../../../assets/atlatnt-img.png");
   background-size: contain;
   background-position: center;
 }

 .projects-img-4{
   background: url("../../../assets/rubicon_internship.png");
   background-size: contain;
   background-position: center;
 }

 .projects-img-5{
   background: url("../../../assets/sportnet-img.png");
   background-size: contain;
   background-position: center;
 }

 .projects-info{
   display: grid;
   grid-template-areas:
      "name name name name"
      "description info web git"
      "description info more more";
   gap: .6em;
   grid-template-columns: 3fr 3fr 1fr 1fr;
   grid-template-rows: 1fr 2fr 1.5fr;
   margin: .6em;
   width: 60%;
 }

 .name, .description, .info, .web, .git, .more{
   background-color: rgba(255, 255, 255, 0.05);
   color: whitesmoke;
   display: flex;
   align-items: center;
   padding: 20px;
   border-radius: 10px;
 }

 .name, .description, .info{
   background-color: rgba(255, 255, 255, 0.05);
   color: whitesmoke;
 }

 .name{
   grid-area: name;
   letter-spacing: 1px;

 }
 .description{
   grid-area: description;
   flex-direction: column;
 }
 .info{
   grid-area: info;
   letter-spacing: 1px;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
 }
 .web{
   grid-area: web;
   flex-direction: column;
   justify-content: space-around;
   transition: .2s ease-in;
   border: 2px solid rgba(242, 155, 24, 0.8);
 }
 .git{
   grid-area: git;
   flex-direction: column;
   justify-content: space-around;
   transition: .2s ease-in;
   border: 2px solid rgba(143, 94, 238, 0.8);
 }

 .more{
   grid-area: more;
   justify-content: center;
   background-color: rgba(24, 142, 242, 0.8);
   transition: .2s ease-in;
   letter-spacing: 2px;
   font-weight: bold;
   font-size: 16px;
 }

 .web:hover{
   background-color: rgba(242, 155, 24, 0.8);
 }

 .git:hover{
   background-color: rgba(143, 94, 238, 0.8);
 }

 .more:hover{
   background-color: rgba(24, 142, 242, 0.6);
 }


@media (min-width: 1900px) {
  .projects{
    width: 60%;
  }
}

@media (min-width: 1280px){
  .projects{
    width: 80%;
  }
  .projects-card{
    height: 400px;
  }
  .projects-info{
    font-size: 12px;
  }
}

@media (max-width: 1200px) {
  .projects{
    width: 80%;
  }
  .projects-card{
    height: 400px;
  }
  .projects-info{
    font-size: 12px;
  }
}

 @media (max-width: 1130px) {
   .projects{
     width: 80%;
   }
   .projects-card{
     height: 400px;
   }
   .projects-info{
     font-size: 11px;
   }
 }

 @media (max-width: 995px){
   .projects{
     width: 90%;
   }
   .projects-card{
     height: 350px;
   }
   .projects-info{
     font-size: 10px;
   }
 }

@media (max-width: 885px){
  .projects{
    width: 90%;
  }
  .projects-card{
    height: 350px;
  }
  .projects-info{
    font-size: 9px;
  }
}

@media (max-width: 795px){
  .projects-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
  }

  .projects-img{
    width: 100%;
    height: 40%;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }
  .projects-info{
    width: 99%;
    height: 60%;
    font-size: 11px;
  }
}

 @media (max-width: 650px){
   .projects-info{
     font-size: 10px;
   }
 }

 @media (max-width: 590px){
   .projects-card{
     height: 600px;
   }
   .projects-info{
     grid-template-areas:
      "name name name"
      "description description description"
      "info web git"
      "info more more";
     grid-template-columns: 2fr 1fr 1fr;
     grid-template-rows: 1fr 2fr 1fr;
   }
 }

 @media (max-width: 490px){
   .projects-card{
     height: 650px;
   }
 }

 @media (max-width: 360px){
   .projects-card{
     height: 700px;
   }
 }


