<header id="header">
  <div class="header-content">
    <div class="title">
      <h1 id="headertitle" style="text-transform: uppercase" (click)="scrolltop()">irfanparic</h1>
    </div>
    <div class="image">
      <img id="headerimage" src="../../../assets/logowhite.png" alt="logo" type="button" (click)="invert()"/>
    </div>
    <div class="list">
      <p id="headerlist1" (click)="scroll(about)">About</p>
      <p id="headerlist2" (click)="scroll(projectsscr)">Projects</p>
      <p id="headerlist3" (click)="scroll(contact)">Contact</p>
    </div>
  </div>
</header>

<main id="main">
  <div class="about-wrap">
    <div class="bgimage">
      <div class="introduction">
        <h1 style="text-transform: uppercase" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="2000">welcome</h1>
        <h1 data-aos="fade-in" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="2000">&</h1>
        <h1 style="text-transform: uppercase" data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="2000">enjoy</h1>
      </div>
    </div>
    <div #about class="information-wrap">
      <div class="information">
        <div class="info-part-1" data-aos="fade-in" data-aos-offset="300" data-aos-easing="ease-in-sine">
          <div class="information-text-1" style="text-align: justify">
            <h1>Who am I?</h1>
            <p >I am an undergraduate 3
              rd year student of Computer Science at the university of Sarajevo
              School of Science and Technology, with strong foundation in math, logic, and design,
              seeking to acquire new high-level skills in web development and UI/UX Design.</p>
          </div>
          <div style="display: flex; justify-content: center; width: 50%">
            <img id="profilepicture" src="../../../assets/profile.png" alt="profilepicture">
          </div>
        </div>
        <div class="info-part-2" data-aos="fade-in" data-aos-offset="300" data-aos-easing="ease-in-sine">
          <div style="display: flex; justify-content: center; width: 50%">
            <img id="drawing" src="../../../assets/drawing.png" alt="drawing">
          </div>
          <div class="information-text-2" style="text-align: justify">
            <h1>What do I do?</h1>
            <p>I am well experienced at working in multiple developing environments and programming
              languages such as Java and C++, Adobe Illustrator/Photoshop and Figma for graphical
              design and UI/UX, as well as HTML, CSS, and JS for web development. </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div #projectsscr class="projects-wrap">
    <div class="projects">
      <h1>my projects</h1>
      <div class="projects-content" *ngFor="let project of projects">
        <div class="projects-card shadow" data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine">
          <div style="width: 300px">
            <h4>{{project.name}}</h4>
            <p>{{project.description}}</p>
          </div>
          <div style="width: 300px">
            <p>Purpose: {{project.purpose}}</p>
            <p>Start: {{project.startDate}}</p>
            <p>End: {{project.endDate}}</p>
          </div>
          <div>
            <p>View project on:</p>
            <div style="display: flex; justify-content: space-evenly">
              <a *ngIf="project.pageLink!=null" href="{{project.pageLink}}" target="_blank"><i class="bi bi-globe2"></i></a>
                <a *ngIf="project.pageLink==null" routerLink="/page-unavailable" target="_blank"><i class="bi bi-globe2"></i></a>
              <a *ngIf="project.gitLink!=null" href="{{project.gitLink}}" target="_blank"><i class="bi bi-github"></i></a>
                <a *ngIf="project.gitLink==null" routerLink="/page-unavailable" target="_blank"><i class="bi bi-github"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div #contact class="contact-wrap">
    <div class="contact">
        <h1>contact me</h1>
        <p>Let's get in touch and discuss future ground-breaking projects!</p>
      <div class="contact-icons">
        <a href="https://github.com/IrfanParic" target="_blank"><i class="bi bi-github git"></i></a>
        <a href="https://www.linkedin.com/in/irfan-paric-b96b6a160/" target="_blank"><i class="bi bi-linkedin link"></i></a>
        <a href="https://www.instagram.com/irfanparic/" target="_blank"><i class="bi bi-instagram insta"></i></a>
      </div>
      <p>... or send me an email at <span id="contactspan" style="color: mediumpurple">irfanparic@hotmail.com</span></p>
    </div>
  </div>
</main>

<footer id="footer">
  <img src="../../../assets/logowhite.png" alt="logo"/>
  <p style="color:mediumpurple;">click on the header logo to see a magic trick</p>
  <h3>&copy; irfanparic</h3>
</footer>
