<header id="header" class="controllable">
  <div class="header-content">
    <div class="title">
      <h1 id="headertitle" style="text-transform: uppercase" (click)="scrolltop()">irfanparic</h1>
    </div>
    <div class="list">
      <p (click)="scrolltop()">Home</p>
      <p (click)="scroll(about)">About</p>
      <p (click)="scroll(portfolio)">Portfolio</p>
      <p (click)="scroll(contact)">Contact</p>
    </div>
    <img src="../../../assets/logowhite.png" alt="logo" type="button"/>
  </div>
</header>

<main id="main">
  <div class="about-wrap">
    <div class="bgimage">
      <div class="introduction">
        <div class="introtext">
          <h1 data-aos="fade-right" data-aos-duration="1000">Hello there</h1>
          <div style="display: flex" data-aos="fade-left" data-aos-duration="2000">
            <h1 style="margin-right: 5%">I am</h1>
            <div class="stack" style="--stacks: 3;">
              <span style="--index: 0;"><h1>IRFAN</h1></span>
              <span style="--index: 1;"><h1>IRFAN</h1></span>
              <span style="--index: 2;"><h1>IRFAN</h1></span>
            </div>
          </div>
          <br>
          <h2 data-aos="fade-in" data-aos-duration="3000">Front-End Developer / Design Enthousiast</h2>
          <a (click)="scroll(portfolio)" data-aos="fade-in" data-aos-duration="3000" class="shadow">Unveil my work</a>
        </div>
      </div>
    </div>
  </div>

  <div #about>
    <app-about></app-about>
  </div>

  <div #portfolio>
    <app-portfolio></app-portfolio>
  </div>

  <div #contact>
    <app-contact></app-contact>
  </div>
</main>

<div class="footwraper">
  <footer id="footer">
    <img src="../../../assets/logowhite.png" alt="logo"/>
    <h3>&copy; irfanparic</h3>
  </footer>
</div>
