p, a{
  margin-bottom: 0;
}

h1,h2,h3,h5,h6{
  font-family: 'Bebas Neue', cursive;
  margin-bottom: 0;
}

h4{
  font-family: 'Lato', sans-serif;
  margin-bottom: 40px;
}

a{
  text-decoration: none;
  color: whitesmoke;
}

i{
  font-size: 30px;
  transition: .2s ease-in;
}

header{
  padding: 15px 30px;
  position: fixed;
  z-index: 1;
  width: 90%;
  left: 5%;
  top: 2%;
  border-radius: 10px;
}

.controllable.bgcolor{
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(100px);
  transition: .3s ease-in;
}

header .header-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .title h1{
  color: whitesmoke;
  letter-spacing: 2px;
  cursor: pointer;
  transition: .2s ease-in;
}

header .title h1:hover{
  color: #5cb7ff;
}

img{
  height: 50px;
  width: auto;
}

header .list{
  width: 40em;
  display: flex;
  justify-content: space-between;
}

header .list p{
  color: #B5B5B5;
  cursor: pointer;
  transition: .2s ease-in;
  font-size: 1.3em;
}

header .list p:hover{
  color: whitesmoke;
}

main{
  background-color: #151618;
  color: whitesmoke;
}

main .about-wrap .bgimage{
  background:linear-gradient(#151618,transparent,#151618), url("src/assets/bgblue.png");
  background-size: cover;
  padding: 250px 0;
  display: flex;
  justify-content: center;
}

main .introduction{
  width: 60%;
  display: flex;
  justify-content: space-between;
}

main .introduction .introtext{
  display: flex;
  flex-direction: column;
}

main .introduction .introtext a{
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  background: #0077d2;
  color: whitesmoke;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  transition: .2s ease-in;
  width: 260px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

main .introduction .introtext a svg{
  width: 16px;
}

main .introduction .introtext a:hover{
  background: #0069b9;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.10);

}

main .introduction .introtext button:hover{
  background-color: whitesmoke;
}

main .introduction h1{
  color: whitesmoke;
  font-size: 6em;
}

.stack {
  display: grid;
  grid-template-columns: 1fr;
}

.stack span {
  grid-row-start: 1;
  grid-column-start: 1;
  --stack-height: calc(100% / var(--stacks) - 1px);
  --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
  --clip-top: calc(var(--stack-height) * var(--index));
  --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
  clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
  animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
}

.stack span:nth-child(odd) { --glitch-translate: 8px; }
.stack span:nth-child(even) { --glitch-translate: -8px; }

@keyframes stack {
  0% {
    opacity: 0;
    transform: translateX(-50%);
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
  }
  60% {
    opacity: 0.5;
    transform: translateX(50%);
  }
  80% {
    transform: none;
    opacity: 1;
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  100% {
    text-shadow: none;
  }
}

@keyframes glitch {
  0% {
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    transform: translate(var(--glitch-translate));
  }
  2% {
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  4%, 100% {  text-shadow: none; transform: none; }
}

.footwraper{
  background-color: #151618;
}

footer{
  width: 90%;
  padding: 15px 30px;
  background-color: rgba(255, 255, 255, 0.05);
  display: flex;
  color: whitesmoke;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

footer img{
  height: 50px;
  width: auto;
}

@media (min-width: 1900px) {
  main .about-wrap .bgimage{
    padding: 350px 0;
  }
  main .introduction h1{
    font-size: 7em;
  }
}

@media (max-width: 1200px) {
  main .about-wrap .bgimage{
    background-position: center;
  }
  main .introduction h1{
    font-size: 4em;
  }
  header .list{
    width: 30em;
  }
}

@media (max-width: 960px){
  header .list{
    width: 25em;
  }
  header .list p{
    font-size: 1em;
  }
}

@media (max-width: 800px){
  header .list{
    width: 15em;
  }
  header .list p{
    font-size: .9em;
  }
}

@media (max-width: 700px){
  header .list{
    display: none;
  }
  main .introduction h1{
    font-size: 4em;
  }
}

@media (max-width: 420px){
  main .introduction h1{
    font-size: 3.5em;
  }
}
