p, a{
  margin-bottom: 0;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Bebas Neue', cursive;
  margin-bottom: 0;
}

a{
  text-decoration: none;
  color: whitesmoke;
}

i{
  font-size: 30px;
  transition: .2s ease-in;
}

.information-wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 300px 0;
}

.information{
  width: 80%;
  height: 30em;
  display: grid;
  grid-template-areas:
      "picture text1 text1"
      "picture text2 techno"
      "name text2 cv";
  gap: .6em;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.picture{
  grid-area: picture;
}
.text1{
  grid-area: text1;
}
.text2{
  grid-area: text2;
}
.techno{
  grid-area: techno;
}
.name{
  grid-area: name;
}
.cv{
  grid-area: cv;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateX(180deg);
  cursor: pointer;
}

.flip-card-front, .flip-card-back {
  border-radius: 10px;
  padding: 20px 30px;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  box-shadow: 5px 5px 10px #121315;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-front {
  background-color: rgba(255, 255, 255, 0.05);
  color: whitesmoke;
  letter-spacing: 1px;
}

.flip-card-back {
  text-align: justify;
  background-color: whitesmoke;
  color: #151618;
  transform: rotateX(180deg);
}

.information-wrap .picture, .name{
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  letter-spacing: 1px;
}

.information-wrap .picture img{
  height: 100%;
  width: auto;
}

.information-wrap .techno img{
  height: 40%;
  width: auto;
}

.information-wrap .cv a{
  background-color: rgba(255, 140, 0, 0.6);
  backdrop-filter: saturate(180%) blur(20px);
  text-decoration: none;
  color: whitesmoke;
  transition: .2s ease-in;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  letter-spacing: 1px;
}

.information-wrap .cv a:hover{
  background-color: darkorange;
}

@media (min-width: 1900px) {
  .information{
    width: 80%;
  }
}

@media (max-width: 1280px){
  .information{
    width: 80%;
  }

  .information h2{
    font-size: 1.5em;
  }

  .information-wrap .techno img{
    height: 30%;
  }
}

@media (max-width: 1200px) {
  .information{
    width: 80%;
  }
}

@media (max-width: 1160px) {
  .information-wrap .techno img{
    height: 25%;
  }
}

@media (max-width: 960px){
  .information p{
    font-size: .9em;
  }

  .information{
    width: 90%;
  }

  .information-wrap .techno img{
    height: 22%;
  }
}

@media (max-width: 800px){
  .information h2{
    font-size: 1em;
  }

  .information p{
    font-size: .8em;
  }

  .information{
    width: 90%;
  }

  .information-wrap .techno img{
    height: 20%;
  }
}

@media (max-width: 750px){
  .information-wrap .techno img{
    height: 17%;
  }
}


@media (max-width: 700px){
  .information-wrap{
    padding: 100px 0;
  }

  .information{
    width: 90%;
    height: 60em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .information .picture img{
    width: 80%;
    height: auto;
  }

  .information h2{
    font-size: 1.5em;
  }

  .information-wrap .techno img{
    height: 60%;
  }
}

@media (max-width: 600px){
  .information-wrap .techno img{
    height: 50%;
  }
}

@media (max-width: 450px){
  .information-wrap .techno img{
    height: 40%;
  }
}

@media (max-width: 370px){
  .information-wrap .techno img{
    height: 30%;
  }
}
