<div class="information-wrap">
  <div class="information">
    <div class="picture">
      <img src="../../../assets/profile.png" alt="irfanparic">
    </div>

    <div class="text1 flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h2>Who am I?</h2>
        </div>
        <div class="flip-card-back">
          <p>I am an undergraduate 4 th year student of Computer Science at the university of Sarajevo School of Science and Technology, with strong foundation in math, logic, and design, seeking to acquire new high-level skills in web development and UI/UX Design.</p>
        </div>
      </div>
    </div>

    <div class="text2 flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h2>What do I do?</h2>
        </div>
        <div class="flip-card-back">
          <p>I am well experienced at working in multiple developing environments and programming languages such as Java and C++, Adobe Illustrator/Photoshop and Figma for graphical design and UI/UX, as well as HTML, CSS, and JS for web development.</p>
        </div>
      </div>
    </div>

    <div class="techno flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h2>Technologies?</h2>
        </div>
        <div class="flip-card-back">
          <img src="../../../assets/icons/react_icon.png" alt="reactlogo">
          <img src="../../../assets/icons/angular_icon.png" alt="angularlogo">
          <img src="../../../assets/icons/nodejs_icon.png" alt="nodelogo">
          <img src="../../../assets/icons/spring_icon.png" alt="springbootlogo">
          <img src="../../../assets/icons/postgree_icon.png" alt="postgreelogo">
        </div>
      </div>
    </div>
    <div class="name">
      <h2>Irfan Paric</h2>
    </div>
    <div class="cv">
      <a href="../../../assets/Irfan%20Parić%20CV.pdf" download> <h2>DOWNLOAD CV</h2></a>
    </div>
  </div>
</div>
