<div class="information-wrap">
  <div class="information">
    <div class="picture">
      <img src="../../../assets/profile2.png" alt="irfanparic">
    </div>

    <div class="text1 flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h2>Who am I?</h2>
        </div>
        <div class="flip-card-back">
          <p>I hold a Bachelor of Computer Science degree from the University of Sarajevo School of Science and Technology, with strong understanding of mathematics, logic, and design principles. Currently, I am eager to further enhance my expertise in Software Development and UI/UX Design by acquiring advanced-level skills.</p>
        </div>
      </div>
    </div>

    <div class="text2 flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h2>What do I do?</h2>
        </div>
        <div class="flip-card-back">
          <p>I possess extensive expertise in navigating diverse development environments and mastering various programming languages. Proficient in Adobe Illustrator, Photoshop, and Figma for graphical design and UI/UX, I excel in frontend technologies such as Angular, React, and Vue, while also commanding backend frameworks including Node.js, Spring, and Laravel for comprehensive software development</p>
        </div>
      </div>
    </div>

    <div class="techno flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h2>Technologies?</h2>
        </div>
        <div class="flip-card-back">
          <div class="icons">
            <div>
              <img src="../../../assets/icons/figma_icon.png" alt="figmalogo">
            </div>
            <div>
              <img src="../../../assets/icons/react_icon.png" alt="reactlogo">
              <img src="../../../assets/icons/angular_icon.png" alt="angularlogo">
              <img src="../../../assets/icons/vue_icon.png" alt="vuelogo">
            </div>
            <div>
              <img src="../../../assets/icons/nodejs_icon.png" alt="nodelogo">
              <img src="../../../assets/icons/spring_icon.png" alt="springbootlogo">
              <img src="../../../assets/icons/mysql_icon.png" alt="mysqllogo">
              <img src="../../../assets/icons/postgree_icon.png" alt="postgreelogo">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="name">
      <h2>Irfan Paric</h2>
    </div>
    <div class="cv">
      <a href="../../../assets/Irfan%20Parić%20CV.pdf" download> <h2>DOWNLOAD CV</h2></a>
    </div>
  </div>
</div>
