h3{
  font-family: 'Bebas Neue', cursive;
  margin-bottom: 0;
}

.footwraper{
  background-color: #151618;
}

footer{
  width: 90%;
  padding: 15px 30px;
  background-color: rgba(255, 255, 255, 0.05);
  display: flex;
  color: whitesmoke;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

footer img{
  height: 50px;
  width: auto;
}
