@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lightgallery.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lg-zoom.css');

p, a{
  margin-bottom: 0;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Bebas Neue', cursive;
  margin-bottom: 0;
}

h2{
  letter-spacing: 1px;
}

a{
  text-decoration: none;
  color: whitesmoke;
}

i{
  font-size: 30px;
  transition: .2s ease-in;
}

header{
  padding: 15px 30px;
  position: fixed;
  z-index: 1;
  width: 90%;
  left: 5%;
  top: 2%;
  border-radius: 10px;
}

.controllable.bgcolor{
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(100px);
  transition: .3s ease-in;
}

header .header-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .title i{
  font-size: 20px;
  margin-right: 4px;
}


header .title h1{
  color: #B5B5B5;
  letter-spacing: 2px;
  cursor: pointer;
  transition: .2s ease-in;
  display: flex;
  align-items: center;
}

header .title h1:hover{
  color: whitesmoke;
}

img{
  height: 50px;
  width: auto;
}

main{
  background:linear-gradient(#151618,transparent,transparent), url("src/assets/bgblue3.png");
  background-color: #151618;
  background-repeat: no-repeat;
  background-size: contain;
  color: whitesmoke;
  padding-top: 100px;
}

main .project-title-wrapper, main .project-page-card-wrapper, .project-details-wrapper, .project-gallery-wrapper{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
main .project-title, main .project-page-card{
  width: 60%;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(100px);
  border-radius: 8px;
}

main .project-title h2{
  padding: 15px 30px;
}

.project-page-img{
  display: flex;
  justify-content: center;
  background: black;
  border-radius: 8px 8px 0 0;
}

.project-page-img img{
  width: 400px;
  height: auto;
}

.project-page-info{
  padding: 15px 30px;
  display: grid;
  grid-template-areas:
      "role date social";
  grid-template-columns: 1fr 1fr 1fr;
}

.project-role, .project-date, .social-media{
  display: flex;
  align-items: center;
}

.project-role{
  grid-area: role;
  justify-content: flex-start;
}

.project-date{
  grid-area: date;
  justify-content: center;
}

.social-media{
  grid-area: social;
  justify-content: flex-end;
}

.project-role span, .social-media a{
  padding: 4px 20px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.2);
}

.project-role span{
  font-weight: 500;
  letter-spacing: 1px;
}

.social-media a{
  margin-left: 8px;
  display: flex;
  align-items: center;
  transition: .2s ease-in;
}

.social-media .web:hover{
  background-color: darkorange;
}

.social-media .git:hover{
  background-color: mediumpurple;
}

.social-media .beh:hover{
  background-color: #1769ff;
}

.social-media i{
  font-size: 20px;
  margin-right: 8px;
}

.project-details, .project-gallery{
  width: 60%;
}

.project-details h3, .project-gallery-wrapper h3{
  letter-spacing: 1px;
  margin-bottom: 15px;
  margin-left: 30px;
}

.project-details .project-info{
  display: flex;
  padding: 15px 30px 35px;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(100px);
  border-radius: 8px;
}

.project-details .project-info .left{
  width: 40%;
}

.project-details .project-info .right{
  width: 60%;
}

.project-details .project-info span{
  margin-right: 8px;
  color: #B5B5B5;
}

.project-details .project-info .technologies{
  display: flex;
}

.project-details .project-info .technologies img{
  margin-right: 15px;
  margin-top: 10px;
  height: 50px;
}

.images-wrapper {
  width: 100%;
  display: flex;
  padding-bottom: 150px;
}

.images-wrapper img{
  height: 146.5px;
  margin: 5px;
  transition: .2s ease-in;
  cursor: pointer;
  border-radius: 8px;
  border: #151618 1px solid;
}

.images-wrapper img:hover{
  border: #5cb7ff 1px solid;
  opacity: .7;
}

@media (max-width: 1000px) {
  .project-page-info{
    grid-template-areas:
      "role"
      "date"
      "social";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }

  .project-role{
    justify-content: center;
  }

  .social-media{
    justify-content: center;
  }

  .project-info{
    flex-direction: column;
  }

  .project-details .project-info .left{
    width: 100%;
    margin-bottom: 20px;
  }

  .project-details .project-info .right{
    width: 100%;
  }
}

@media (max-width: 995px){
  main{
    padding-top: 130px;
  }

  main .project-title, main .project-page-card {
    width: 90%;
  }

  .project-details, .project-gallery{
    width: 90%;
  }
}

@media (max-width: 850px){
  .images-wrapper{
    justify-content: center;
    align-items: center;
  }

  lightgallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 680px){
  .project-page-img img{
    width: 300px;
  }
}

@media (max-width: 500px){
  .project-page-img img{
    width: 200px;
  }
}
