p, a{
  margin-bottom: 0;
}

a{
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: saturate(180%) blur(20px);
  text-decoration: none;
  color: whitesmoke;
  padding: 15px 40px;
  transition: .2s ease-in;
  cursor: pointer;
  width: 260px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  letter-spacing: 2px;
  font-weight: bold;
}

a:hover{
  background-color: rgba(0, 0, 0, 0.6);
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Bebas Neue', cursive;
  margin-bottom: 0;
  font-size: 150px;
}

.page-not-found-wrap{
  background: url("../../../assets/bgblue3.png");
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-not-found{
  color: whitesmoke;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
