@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@300;400&display=swap');

*{
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: black;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, mediumpurple 0%, rebeccapurple 99%);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}
