@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@300;400&display=swap');

*{
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #151618;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #5cb7ff 0%, #0072b1 99%);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

::selection{
  background-color: darkorange;
}
