@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:wght@100..900&display=swap');
*{
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body { height: 100%; }

body::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #151618;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #5cb7ff 0%, #0072b1 99%);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

::selection{
  background-color: #0072b1;
}
